* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

#PhippyAndFriends {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: blue;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

body {
  background-image: /images/kubernetesLogo.png;
  background-repeat: no-repeat;
  background-position: center;
}
